.Nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border: 1px dashed red;
  margin: 0 0 0 30px;
  width: 90%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  color: white;

  .Nav__title {
    font-size: 25px;
    border: 1px dashed blue;
    min-width: 175px;
  }

  .Nav__MenuItems {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    border: 1px dashed green;
    width: 500px;
    height: 100%;
  }

  .MenuLink {
    border: 1px dashed green;
  }
}
