.Nav {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #000000;
  color: white;
}
.Nav .Nav__title {
  font-size: 1.5rem;
  min-width: 164px;
  color: white;
}
.Nav .Nav__title:hover {
  color: var(--blue);
  cursor: pointer;
}
.Nav .Nav__Center {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 400px;
}
.Nav .Nav__Center .Center__friends {
  font-size: 1.5rem;
}
.Nav .Nav__Center .Center__search {
  cursor: text;
  font-size: 30px;
  width: 150px;
}
.Nav .Nav__Right {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 200px;
}
.Nav .Nav__Right .Right__signout:hover {
  color: var(--blue);
  cursor: pointer;
}
.Nav .Nav__Right .MenuItem {
  color: white;
}
.Nav .Nav__Right .MenuItem:hover {
  color: var(--blue);
  cursor: pointer;
}
