.Nav {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  .Nav__title {
    font-size: 1.5rem;
    min-width: 164px;
    color: white;
    &:hover {
      color: var(--blue);
      cursor: pointer;
    }
  }

  .Nav__Center {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 400px;

    .Center__friends {
      font-size: 1.5rem;
    }

    .Center__search {
      cursor: text;
      font-size: 30px;
      width: 150px;
    }
  }

  .Nav__Right {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 200px;
    .Right__signout {
      // parent css goes here
      &:hover {
        color: var(--blue);
        cursor: pointer;
      }
    }

    .MenuItem {
      color: white;
      &:hover {
        color: var(--blue);
        cursor: pointer;
      }
    }
  }
}
