.CountryBorder {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  background: rgba(100, 99, 99, 0.2);
  padding-bottom: 1rem;
}
.CountryBorder .ScratchCard__Container {
  cursor: url(coincursor.png), auto;
}
.CountryBorder .ScratchCard__Container:active:hover {
  cursor: url(coincursor2.png), auto;
}
.CountryBorder .CountryBorder__Canvas {
  width: 100%;
  background: white;
}
.CountryBorder .CountryBorder__SliderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0;
}
.CountryBorder .CountryBorder__SliderContainer .Slider {
  width: 90%;
}
