.CountryBorder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border: 1px solid black;
}
.CountryBorder .CountryBorder__Border {
  text-align: center;
  width: 50%;
  border: 1px solid black;
}
.CountryBorder .CountryBorder__Slider {
  position: relative;
  z-index: 10;
}
.CountryBorder .CountryBorder__Slider .Slider1 {
  position: relative;
  z-index: 100;
}
