.CountryBorder {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding-bottom: 30px;

  .ScratchCard__Container {
    cursor: url(coincursor.png), auto;
  };

  .ScratchCard__Container:active:hover{
    cursor: url(coincursor2.png), auto;
  }

  .CountryBorder__Canvas {
    width: 100%;
    // background: white;
  }
  .CountryBorder__SliderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 0;

    .Slider {
      width: 85%;
    }
  }
}
