.CountryPanel {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 11;
  background-color: white;
  color: gray;
  border-radius: 1px;
  box-shadow: -3px 3px 2px 2px rgba(0, 0, 0, 0.2);
  animation: CountryPanel 0.3s all;
  transition-property: all;
  transition-duration: 0.5s;
  padding: 10px;
  width: 35%;
}
.CountryPanel .Card .Card_Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 1.5em;
  padding: 5px 5px 15px 5px;
}
.CountryPanel .Card .Card_Header .closeCountryPanelIcon:hover {
  cursor: pointer;
  color: red;
}
.CountryPanel-closed {
  visibility: hidden;
  opacity: 0;
}
.CountryPanel-open {
  visibility: visible;
  left: 20px;
  opacity: 1;
}
