.CountryPanel {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 11;
  background-color: #f5f5dc;
  animation: Settings 0.5s all;
  transition-property: all;
  transition-duration: 0.8s;
}
.CountryPanel .Card {
  padding: 0.2rem;
}
.CountryPanel .Card .Card_Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 1.2rem;
}
.CountryPanel .Card .Card_Header .closeCountryPanelIcon:hover {
  cursor: pointer;
  color: red;
}
