.ChangePassword {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.ChangePassword h1 {
  cursor: pointer;
}
.ChangePassword h1:hover {
  color: orange;
}
.ChangePassword .Settings__ChangePassword {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 20px;
}
.ChangePassword .Settings__ChangePassword div {
  margin: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.ChangePassword .Settings__ChangePassword .ChangePassword__currentPassword h5,
.ChangePassword .Settings__ChangePassword .ChangePassword__newPassword h5,
.ChangePassword .Settings__ChangePassword .ChangePassword__confirmNewPassword h5 {
  margin-bottom: 5px;
  font-style: italic;
}
.ChangePassword .Settings__ChangePassword .currentPassword__input,
.ChangePassword .Settings__ChangePassword .newPassword__input,
.ChangePassword .Settings__ChangePassword .confirmNewPassword__input {
  outline: none;
  padding: 5px 8px;
}
.ChangePassword .Settings__ChangePassword .currentPassword__input:hover,
.ChangePassword .Settings__ChangePassword .newPassword__input:hover,
.ChangePassword .Settings__ChangePassword .confirmNewPassword__input:hover {
  border: 1px solid orange;
}
.ChangePassword .Settings__ChangePassword .currentPassword__input:focus,
.ChangePassword .Settings__ChangePassword .newPassword__input:focus,
.ChangePassword .Settings__ChangePassword .confirmNewPassword__input:focus {
  border: 1px solid orange;
}
.ChangePassword .Settings__ChangePassword .ChangePassword__submit {
  margin: 10px;
  cursor: pointer;
  font-size: 13px;
  padding: 7px 10px;
}
.ChangePassword .Settings__ChangePassword .ChangePassword__submit:hover {
  font-weight: bold;
  color: orange;
  border: 1px solid orange;
}
