.ChangeEmail {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 15px;
}
.ChangeEmail h1 {
  cursor: pointer;
}
.ChangeEmail h1:hover {
  color: orange;
}
.ChangeEmail .Settings__ChangeEmail {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 15px;
}
.ChangeEmail .Settings__ChangeEmail div {
  margin: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.ChangeEmail .Settings__ChangeEmail #NewEmail__header {
  padding-bottom: 5px;
  font-style: italic;
}
.ChangeEmail .Settings__ChangeEmail .ChangeEmail__input {
  outline: none;
  padding: 5px 8px;
}
.ChangeEmail .Settings__ChangeEmail .ChangeEmail__input:hover {
  border: 1px solid orange;
}
.ChangeEmail .Settings__ChangeEmail .ChangeEmail__input:focus {
  border: 1px solid orange;
}
.ChangeEmail .Settings__ChangeEmail .ChangeEmail__submit {
  margin: 10px;
  cursor: pointer;
  font-size: 13px;
  padding: 7px 10px;
}
.ChangeEmail .Settings__ChangeEmail .ChangeEmail__submit:hover {
  font-weight: bold;
  color: orange;
  border: 1px solid orange;
}
