.ChangePassword {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  h1 {
    cursor: pointer;
    &:hover {
      color: blue;
    }
  }

  .Settings__ChangePassword {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 20px;

    div {
      margin: 10px;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
    }

    .ChangePassword__submit {
      width: 100px;
      margin: 10px;
    }
  }
}
