.ChangeEmail {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 20px;
}
.ChangeEmail h1 {
  cursor: pointer;
}
.ChangeEmail h1:hover {
  color: #064789;
}
.ChangeEmail .Settings__ChangeEmail {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 20px;
}
.ChangeEmail .Settings__ChangeEmail div {
  margin: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.ChangeEmail .Settings__ChangeEmail .ChangeEmail__submit {
  width: 100px;
  margin: 10px;
}
