.ChangePassword {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.ChangePassword h4 {
  cursor: pointer;
}
.ChangePassword h4:hover {
  color: red;
}
.ChangePassword .Settings__ChangePassword {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 20px;
}
.ChangePassword .Settings__ChangePassword div {
  margin: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.ChangePassword .Settings__ChangePassword .ChangePassword__submit {
  width: 100px;
  margin: 10px;
}
