.Settings__Preferences {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 20px;

  .Preferences__theme {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    h5 {
      margin-right: 10px;
    }

    // select {
    //   -webkit-appearance: none;
    //   -moz-appearance: none;
    //   appearance: none; /* removes default arrow */
    // }
  }

  .Preferences__autoscratch {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    h5 {
      margin-right: 10px;
    }
  }
}
