.Settings__Preferences {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 20px;
}
.Settings__Preferences button {
  font-size: 13px;
  cursor: pointer;
  padding: 7px 10px;
  margin-top: 10px;
}
.Settings__Preferences button:hover {
  font-weight: bold;
  border: 1px solid orange;
  color: orange;
}
.Settings__Preferences .Preferences__theme {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Settings__Preferences .Preferences__theme select {
  cursor: pointer;
  outline: none;
}
.Settings__Preferences .Preferences__theme h5 {
  margin-right: 10px;
}
.Settings__Preferences .Preferences__autoscratch {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Settings__Preferences .Preferences__autoscratch h5 {
  margin-right: 10px;
}
.Settings__Preferences .Preferences__autoscratch input[type="checkbox"] {
  outline: none;
}
