.Settings {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 300px;
  height: auto;
  padding: 20px;
  background-color: rgba(100, 100, 100, 0.8);
  color: white;
  position: fixed;
  z-index: 11;
  top: 100px;
  animation: Settings 0.5s all;
  transition-property: all;
  transition-duration: 0.8s;
  .Settings__Header {
    font-size: 2em;
    font-family: Pacifico, serif;
  }
}
.Settings-closed {
  right: -300px;
}

.Settings-open {
  right: 0px;
}
