.Settings {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 300px;
  height: 100%;
  padding: 20px;
  background-color: gray;
  position: absolute;
  z-index: 11;
  top: 0;
  left: -300px;
  // border: 3px solid red;
  animation: Settings 0.5s forwards;
  // animation-delay: 0.5s;

}

@keyframes Settings {
  100% { left: 0; }
}
