.FriendList {
  display: flex;
  width: 100%;
  height: 120px;
  flex-direction: column;
}
.FriendList .FriendList__Title {
  border: 1px solid;
  padding: 1px;
  text-align: center;
}
.FriendList .FriendList__List {
  width: 92%;
  padding: 7px 10px;
  overflow: auto;
  font-size: .8rem;
}
.FriendList .FriendList__List:hover {
  cursor: pointer;
}
