.Country_Border {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 700px;
  border: 1px solid black;
}
.Country_Border .Country_Border-Border {
  height: 135px;
  width: 70%;
  margin: 15px;
  border: 1px solid black;
}
.Country_Border .Country_Border-Slider {
  width: 200px;
  margin-top: -10px;
  position: relative;
  z-index: 10;
}
.Country_Border .Country_Border-Slider .Slider-Tag {
  display: flex;
  justify-content: center;
  margin-bottom: 7px;
}
