.Note {
  border: 1px solid rgba(0, 0, 0, 1);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.Edit-Note {
  background: beige;
  width: 100%;
  display: flex;
  flex-direction: column;
  .Edit-Note__Form {
    width: 100%;
    margin-bottom: 60px;
    .Form__Top {
      width: 100%;
      .Top__Text-Create {
        width: 100%;
        height: 75%;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        resize: none;
        margin-top: 10px;
      }
    }
    .Form__Bottom {
      margin-top: 2px;
      display: flex;
      height: 30%;
      button {
        height: 30px;
      }
      .Edit-Note__Messagebox {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        margin-left: 12px;
      }
    }
  }
}

.View-Note {
  background: beige;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  cursor: pointer;
  height: 200px;
}
