.Note {
  border: 1px solid #000000;
  max-width: 320px;
  width: 97%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
  border: 1px solid tan;
}
.Note .Notes__NewViewMode:hover {
  cursor: pointer;
  font-weight: bold;
}
.Note .Notes__NewViewMode:hover .NewViewMode__Add {
  color: green;
}
.Note .NoteBrotha {
  width: 100%;
}
.Note .NoteBrotha:hover {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.Note .NoteBrotha:hover .Notes__ViewMode {
  opacity: 0.80;
}
.Note .NoteBrotha:hover .Notes__Hover {
  display: block;
  position: absolute;
  z-index: 2;
}
.Note .NoteBrotha .Notes__Hover {
  color: white;
  display: none;
  margin-top: 5px;
}
.Note .NoteBrotha .Notes__ViewMode {
  background-color: lightgray;
  width: 100%;
  max-height: 120px;
  overflow: auto;
}
.Note .NoteBrotha .Notes__ViewMode .ViewMode__YourNote {
  color: grey;
  margin-top: 5px;
}
.Note .NoteBrotha .Notes__ViewMode .ViewMode__Notes {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
  margin-bottom: 5px;
}
.Note .NoteBrotha .Notes__ViewMode .ViewMode__add {
  margin-right: 0.2rem;
}
.Note .Notes__EditMode .EditMode__save {
  position: absolute;
  right: 14px;
  margin-top: 5px;
  margin-right: 0.2rem;
}
.Note .Notes__EditMode .EditMode__save:hover {
  cursor: pointer;
  color: lightseagreen;
}
.Note .Notes__EditMode textarea {
  border: 2px solid green;
  width: 90%;
  height: 107px;
  padding: 5px;
  resize: none;
  font-size: 0.9rem;
  border: none;
  outline: none;
}
