.Note {
  border: 1px solid #000000;
  max-width: 320px;
  width: 97%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
  border: 1px solid tan;
}
.Note .Notes__NewViewMode:hover {
  cursor: pointer;
  font-weight: bold;
}
.Note .Notes__NewViewMode:hover .NewViewMode__Add {
  color: green;
}
.Note .NoteBrotha {
  width: 100%;
  border: 1px solid red;
}
.Note .NoteBrotha:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.Note .NoteBrotha:hover .Notes__ViewMode {
  opacity: 0.3;
}
.Note .NoteBrotha:hover .Notes__Hover {
  position: absolute;
  display: block;
}
.Note .NoteBrotha .Notes__Hover {
  color: Grey;
  display: none;
}
.Note .NoteBrotha .Notes__ViewMode {
  background-color: tan;
  width: 100%;
}
.Note .NoteBrotha .Notes__ViewMode .ViewMode__YourNote {
  color: darkgreen;
}
.Note .NoteBrotha .Notes__ViewMode .ViewMode__Notes {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
}
.Note .NoteBrotha .Notes__ViewMode .ViewMode__add {
  margin-right: 0.2rem;
}
.Note .Notes__EditMode .EditMode__save {
  position: absolute;
  right: 14px;
  margin-top: 5px;
  margin-right: 0.2rem;
}
.Note .Notes__EditMode .EditMode__save:hover {
  cursor: pointer;
  color: lightseagreen;
}
.Note .Notes__EditMode textarea {
  border: 2px solid green;
  width: 90%;
  height: 100px;
  padding: 5px;
  resize: none;
  font-size: 0.9rem;
  border: none;
  outline: none;
}
