.Legend {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.1);
  bottom: 10px;
  right: 0px;
  z-index: 11;
  height: auto;
  width: auto;
  color: #fff;
  div {
    margin: 10px;
  }
  span {
    height: 15px;
    width: 15px;
    margin-right: 10px;
    display: inline-block;
  }
  .NoInterest__gray {
    background-color: gray;
  }

  .Wishlist__purple {
    background-color: purple;
  }

  .Flyover__yellow {
    background-color: yellow;
  }

  .Visited__red {
    background-color: red;
  }

  .LivedIn__blue {
    background-color: blue;
  }

  .Home__green {
    background-color: green;
  }
}
