.Legend {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.1);
  bottom: 0px;
  left: 0px;
  z-index: 11;
  height: auto;
  width: auto;
  padding: 10px;
}
.Legend .Legend__showFriends {
  margin: 0 0 20px 10px;
}
.Legend li {
  display: flex;
  margin: 10px;
  list-style: none;
  color: white;
}
.Legend li .Legend__swatch {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}
.Legend li .NoInterest {
  background-color: gray;
}
.Legend li .Wishlist {
  background-color: purple;
}
.Legend li .Visited {
  background-color: red;
}
.Legend li .LivedIn {
  background-color: blue;
}
.Legend li .Home {
  background-color: green;
}
