.Legend {
  position: fixed;
  background-color: rgba(100, 100, 100, 0.8);
  bottom: 10px;
  right: 0px;
  z-index: 11;
  height: auto;
  width: auto;
  color: #fff;
  div {
    margin: 10px;
  }
  span {
    height: 15px;
    width: 15px;
    margin-right: 10px;
    display: inline-block;
  }
}
