.FailedLoginPopUp {
  width: 160px;
  border: teal 1px solid;
  position: absolute;
  margin-left: 210px;
  margin-top: 70px;
  background: tan;
}
.FailedLoginPopUp .FailedLoginPopUp__container {
  color: red;
}
