.FailedSignUpPopUp {
  display: flex;
  justify-content: center;
  color: red;
  font-size: 14px;
}
.Fill {
  display: flex;
  justify-content: center;
  color: red;
  font-size: 14px;
  visibility: hidden;
}
