.Landing-Page {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url('../../Map Overhead.jpg');
  background-position: center;
  background-size: cover;
}
