.LandingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #0099ff;
  background-position: center;
  background-size: cover;
}
.LandingPage .LandingPage__Tagline {
  color: white;
  margin-bottom: 30px;
}
.LandingPage .LandingPage__Header {
  color: white;
  font-size: 2em;
  margin: 20px;
}
