.LandingPage {
  color: white;
  width: 100%;
  height: 100vh;
}
.LandingPage .LandingPage__Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #0099ff;
  background-position: center;
  background-size: cover;
}
.LandingPage .LandingPage__Container .Container__Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 11vh;
}
.LandingPage .LandingPage__Container .Container__Header .Header__Title {
  font-size: 2rem;
  margin-left: 3%;
}
.LandingPage .LandingPage__Container .Container__Content {
  display: flex;
  width: 100%;
}
.LandingPage .LandingPage__Container .Container__Content .Content__Left {
  width: 50%;
}
.LandingPage .LandingPage__Container .Container__Content .Content__Left .Left__Tagline {
  margin-top: 13vh;
  height: 25 vh;
  display: flex;
  justify-content: flex-end;
}
.LandingPage .LandingPage__Container .Container__Content .Content__Left .Left__Tagline .Tagline__Phrase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.LandingPage .LandingPage__Container .Container__Content .Content__Left .Left__Tagline .Tagline__Phrase p {
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin: 10px 0;
}
.LandingPage .LandingPage__Container .Container__Content .Content__Left .Left__LoginBayContainer {
  margin-top: 10vh;
}
.LandingPage .LandingPage__Container .Container__Content .Content__Right {
  width: 50%;
}
