.LandingPage {
  color: white;
  width: 100%;
  height: 100vh;
  // background-image: linear-gradient(
  //     to bottom,
  //     rgba(0, 0, 0, 0.6) 0%,
  //     rgba(0, 0, 0, 0.6) 100%
  //   ),
  //   url('../../Air_balloon.svg');

  .LandingPage__Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #0099ff;
    // background-image: linear-gradient(
    //     to bottom,
    //     rgba(0, 0, 0, 0.6) 0%,
    //     rgba(0, 0, 0, 0.6) 100%
    //   ),
    //   url('../../Air_balloon.svg');
    background-position: center;
    background-size: cover;
    .Container__Header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 1px solid blue;
      width: 100%;
      height: 15vh;
      .Header__Title {
        border: 1px solid teal;
        font-size: 2rem;
        margin-left: 3%;
      }
    }
    .Container__Content {
      width: 100%;
      border: 1px solid black;
      .Content__Left {
        border: 1px solid red;
        width: 50%;
        .Left__Tagline {
          height: 30vh;
          border: 1px solid green;
          display: flex;
          justify-content: flex-end;
          .Tagline__Phrase {
            border: 2px solid pink;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
              font-size: 1.6rem;
              letter-spacing: 2px;
              margin: 10px 0;
            }
          }
        }
        .Left__LoginBayContainer {
          border: 1px solid darkgoldenrod;
          .LoginBayContainer__LoginBay {
            border: 1px solid magenta;
          }
        }
      }
      .Content__Right {
        border: 1px solid black;
        width: 50%;
        .Right__Animation {
          border: 1px solid indigo;
        }
      }
    }
    .Container__Footer {
      border: 1px solid purple;
    }
  }
}
