.LogInBay {
  border: 3px solid salmon;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.LogInBay .LogInBay__Container {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.LogInBay .LogInBay__Container .Container__LogInForm {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.LogInBay .LogInBay__Container .Container__LogInForm input {
  font-size: 1 rem;
  width: 50%;
  border: none;
}
.LogInBay .LogInBay__Container .Container__LogInForm input[type='submit'] {
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
}
.LogInBay .LogInBay__Container .Container__Button {
  cursor: pointer;
}
.LogInBay .LogInBay__Container .Container__Button:focus {
  border: none;
}
.LogInBay .LogInBay__Container .Container__Button:active {
  border: none;
}
