.LogInBay {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 2px dotted red;
}
.LogInBay .LoginForm {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 200px;
  width: 200px;
}
.LogInBay .LogIn {
  margin: 25px 20px 0;
}
