.LogInBay {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.LogInBay .LoginBay__divider {
  color: white;
}
.LogInBay .LogInForm {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: auto;
  width: 200px;
}
.LogInBay .LogInForm label {
  color: white;
  font-weight: bold;
}
.LogInBay .LogInForm input {
  margin: 5px;
  padding: 10px;
  height: auto;
  width: auto;
  border-radius: 5px;
}
.LogInBay .LogInForm input[type='submit'] {
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
}
.LogInBay .LogInBay__Button {
  height: 30px;
  width: auto;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
}
.LogInBay .LogInBay__Button:focus {
  border: none;
}
.LogInBay .LogInBay__Button:active {
  border: none;
}
