.LogInBay {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  .LogInBay__Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .Container__FacebookInfoLink {
      font-size: .8rem;
      text-align: center;
      &:hover {
        cursor: pointer;
      }
    }
    .Container__Or {
      font-size: 2rem;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    .Container__LogInForm {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 160px;
      justify-content: space-between;
      input {
        font-size: 1 rem;
        width: 95%;
        border: none;
        height: 10px;
        padding-left: 2%;
        background-color: #23ce6b;
      }
      input[type='submit'] {
        padding: 5px 15px;
        cursor: pointer;
        color: white;
        width: 100%;
        height: 35px;
        -webkit-box-shadow: 0 3px 2px #424242;
        -moz-box-shadow: 0 3px 2px #424242;
        box-shadow: 0 3px 2px #424242;
      }
      input[type='submit']:hover {
        background-color: #20c16b;
      }
      input[type='text'] {
        background-color: white;
        color: grey;
      }
      input[type='password'] {
        background-color: white;
        color: grey;
      }
    }
    .Container__Button {
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      font-size: .6rem;
      margin-top: 8px;
      &:hover {
        transform: scale(1.03);
      }
      &:focus {
        border: none;
      }
      &:active {
        border: none;
      }
    }
  }
}
.Modal__Header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  font-family: 'Pacifico', sans-serif;
  margin-bottom: 2vh;
  .closeSignUp {
    color: lightcoral;
    cursor: pointer;
  }
}
.Modal__Form {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
  input:focus {
    outline: none;
  }
  input[type="text"] {
    border: none;
    border-bottom: 1px solid grey;
  }
  input[type="email"] {
    border: none;
    border-bottom: 1px solid grey;
  }
  input[type="password"] {
    border: none;
    border-bottom: 1px solid grey;
  }
  input[type="submit"] {
    border: none;
    background-color: #23ce6b;
    color: white;
    height: 40px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  input[type="submit"]:hover {
    background-color: #20c16b;
  }
}
.FacebookModal__FBContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  .FBContainer__Header {
    display: flex;
    justify-content: space-between;
    h3 {
      text-align: center;
      margin-left: 16px;
      color: rgb(60, 133, 158);
      font-weight: bold;
    }
    .Header__Close {
      color: lightcoral;
      cursor: pointer;
    }
  }
  .FBContainer__Words {
    font-size: 0.85rem;
  }
}