.LogInBay {
  // background-color: rgba(100, 100, 100, 0.5);
  padding: 20px;
  flex-flow: column nowrap;

  .LogInForm {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: auto;
    width: 200px;
    input {
      margin: 5px;
      padding: 10px;
      width: auto;
      height: auto;
      width: auto;
      border-radius: 5px;
    }
    input[type='submit'] {
      padding: 5px 15px;
      cursor: pointer;
      border-radius: 5px;
    }
  }

  .LogInBay__Button {
    height: 30px;
    width: auto;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
    &:focus {
      border: none;
    }
    &:active {
      border: none;
    }
  }
}
