.LogInBay {
  // background-color: rgba(100, 100, 100, 0.5);

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .LogInBay__Container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .Container__LogInForm {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 20vh;
      justify-content: space-between;
      input {
        font-size: 1 rem;
        width: 97%;
        border: none;
        height: 3.4vh;
        padding-left: 3%;
        background-color: #23CE6B;
      }
      input[type='submit'] {
        padding: 5px 15px;
        cursor: pointer;
        color: white;
        width: 100%;
      }
      input[type=text] {
        background-color: white;
        color: grey;
    }
    input[type=password] {
      background-color: white;
      color: grey;
  }
    }
    .Container__Button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      font-size: 17px;
      margin-top: 20px;
      &:focus {
        border: none;
      }
      &:active {
        border: none;
      }
    }
  }
}
